/******************************************* RESET **************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --menu-color: #0d0d0d00;
  --black: #0d0d0d;
  --grey: #bebebe;
  --red: #b00013;
}

body {
  background-color: var(--black);
}

h1 {
  font-family: "Oswald", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  color: var(--grey);
}

h2 {
  font-family: "Oswald", serif;
  font-weight: 350;
  font-style: normal;
  font-size: 1.5rem;
  color: var(--grey);
}

p {
  font-family: "Montserrat", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.75rem;
  line-height: 160%;
  color: var(--grey);
}

@media (min-width: 1200px) {
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1rem;
  }
}

/****************************************************** HEADER ************************************************/

header {
  display: flex;
  flex-direction: column;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar {
  background-color: var(--menu-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
  font-size: 1.15rem;
  font-family: "Oswald", serif;
  font-weight: 300;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: right;
  width: auto;
  flex-grow: 1;
}

.nav-links a {
  color: var(--grey);
  text-decoration: none;
  transition: 0.3s ease;
}

.nav-links li a.active {
  font-weight: bold;
  text-decoration: underline 2px;
}

.nav-links a:hover {
  color: var(--red);
  transition: 0.3s ease;
  font-weight: 600;
}

.header-text {
  display: none;
}

.header-text2 {
  display: flex;
}

.header-text,
.header-text2 {
  margin-left: auto; /* Push text to the right */
  color: var(--grey); /* Set text color */
  padding-right: 10px;
  text-decoration: none;
  transition: 0.3s ease;
}

.header-text:hover,
.header-text2:hover {
  color: var(--red);
  font-weight: 500;
  transition: 0.3s ease;
}

.nav-links li {
  margin: 0 35px;
}

.nav-links a {
  color: var(--grey);
  text-decoration: none;
}

.menu-icon {
  display: none;
  font-size: 30px;
  color: var(--grey);
  cursor: pointer;
}

/* Media query til skærme med max 1200px */
@media (max-width: 1200px) {
  .nav-links {
    display: none; /* Skjul links som standard */
    flex-direction: column;
    position: absolute;
    background-color: var(--red);
    top: 75px; /* Juster afhængigt af navbarens højde */
    left: 5px;
    font-size: 1rem;
    border-radius: 4px;
  }

  .nav-links li a.active {
    font-weight: bold;
    text-decoration: underline 2px;
  }

  .header-text {
    display: flex;
  }

  .header-text2 {
    display: none;
  }

  .nav-links.show {
    display: flex; /* Vis links når menuen er åben */
  }

  .nav-links li {
    margin: 15px 0; /* Giv lidt afstand mellem links i dropdown */
  }

  .nav-links a {
    padding: 15px; /* Mere padding i dropdown */
    text-align: center; /* Centrer links i dropdown */
    border-bottom: 1px solid var(--grey); /* Deling mellem links */
  }

  .nav-links a:hover {
    color: var(--black);
    transition: 0.3s ease;
    font-weight: 600;
  }

  .nav-links li:last-child a {
    border-bottom: none; /* Fjern bundlinje fra sidste link */
  }

  .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 15px;
    cursor: pointer;
    z-index: 1;
    transition: 0.3s ease;
  }

  .menu-icon:hover {
    height: 20px;
    transition: 0.3s ease;
  }

  .bar {
    display: inline-block;
    height: 2px;
    background-color: var(--grey);
    border-radius: 5px;
  }
}

/********************* HERO-SECTION ******************/

.hero_section {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/************************************************ MAIN ****************************************/

.grid_1_1 {
  padding: 65px 40px 40px 40px;
  max-width: 600px;
  margin: 0 auto;
}

.grid_2_2,
.grid_3_3 {
  padding: 0px 40px 0px 40px;
  max-width: 600px;
  margin: 0 auto;
}

.grid_3_3 {
  padding-bottom: 40px;
}

#grid_1_1 {
  padding-top: 0;
}

#grid_3_3 {
  padding-bottom: 40px;
}

.container1 h1,
.container1 h2 {
  text-align: center;
  padding-bottom: 30px;
  transition: 0.3s ease;
}

.container2 p {
  font-size: 0.65rem;
  font-style: italic;
}

.container1 a {
  text-decoration: none;
  transition: 0.3s ease;
}

.container1 h1:hover {
  font-weight: 600;
  color: var(--red);
  transition: 0.3s ease;
}

.container2,
.container1 {
  padding-top: 40px;
}

.image_container {
  position: relative;
  width: 100%;
  height: 100%;
}

.image_container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/**************** Overlay https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_fade ***************/

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: #ffffff7c;
  border-radius: 5px;
}

.image_container:hover .overlay {
  opacity: 1;
}

.overlay_text h2 {
  font-weight: 700;
  color: var(--black);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.grid_2_2 .container1 {
  padding-top: 0px;
}

button {
  margin-top: 7.5%;
  background-color: var(--red);
  border: none;
  color: var(--black);
  padding: 12.5px 17.5px;
  border-radius: 30px;
  cursor: pointer;
  font-family: "Oswald", serif;
  font-weight: 650;
  font-size: 0.75rem;
  transition: 0.3s ease;
}

button:hover {
  background-color: var(--grey);
  color: var(--red);
  transform: scale(1.1);
  transition: 0.3s ease;
}

@media (min-width: 1200px) {
  .grid_1_1 {
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    padding: 100px 75px 0 75px;
    gap: 100px;
    max-width: 5000px;
  }

  .grid_2_2 {
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    padding: 0px 75px 0px 75px;
    gap: 100px;
    max-width: 5000px;
  }

  .grid_3_3 {
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    padding: 0px 75px 100px 75px;
    gap: 100px;
    max-width: 5000px;
  }

  #grid_3_3 {
    padding-bottom: 50px;
  }

  .grid_2_2 .container1 {
    order: 1;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 100px;
  }

  .container1 {
    padding-top: 100px;
    min-width: 500px;
  }

  .container2 {
    padding-top: 125px;
  }

  button {
    margin-top: 10%;
    padding: 15px 20px;
    font-size: 1rem;
  }
}

/********************* MAIN ABOUT******************/
.grid_1_1_1 {
  margin: 125px 40px 40px 40px;
}

.text {
  padding-bottom: 50px;
  max-width: 400px;
  margin: 0 auto;
}

.text a {
  text-decoration: none;
}

.text h1 {
  padding-bottom: 10%;
  text-align: center;
  transition: 0.3s ease;
}

.text h1:hover {
  color: var(--red);
  transition: 0.3s ease;
  font-weight: 600;
}

.text p {
  font-size: 0.75rem;
}

.portrait_photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portrait_photo img {
  width: 100%;
  max-width: 400px;
  object-fit: contain;
  border-radius: 5px;
  filter: invert();
}

@media (min-width: 1048px) {
  .grid_1_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px 80px 0px 80px;
    gap: 100px;
  }

  .portrait_photo img {
    max-width: 650px;
  }

  .text {
    padding: 150px 0 150px 0;
    min-width: 390px;
    max-width: 550px;
    margin: 0 auto;
  }

  .text p {
    font-size: 1rem;
  }
}

/************************************************ FOOTER *************************************/

footer {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
  z-index: 1;
}

.frontpage_footer {
  display: flex;
  flex-direction: column;
  padding: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.footer_content {
  background-color: var(--red);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 25px;
}

.footer_content h1,
.footer_content h2 {
  font-size: 1rem;
  color: var(--grey);
  transition: 0.3s ease;
}

.footer_content h1:hover,
.footer_content h2:hover {
  color: var(--black);
  transition: 0.3s ease;
  font-weight: 600;
}

.footer_content a {
  text-decoration: none;
}

.footer_content h2 {
  display: none;
}

@media (min-width: 1200px) {
  .footer_content {
    padding: 25px 45px;
  }

  .footer_content h1 {
    font-size: 1.15rem;
  }

  .footer_content h2 {
    display: flex;
    font-size: 1.15rem;
    text-align: center;
  }
}
